.venv

.ansible/.lock

# Env
.env
# Ansible Secrets
.vault_pass.txt

# Ansible Facts
.ansible_facts_cache

# Poetry
poetry.lock

# Ad-hoc artifacts (deploy keys, generated PKI, etc.)
tmp/
