# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: check-yaml
        exclude: "ansible-vars.yml|ansible/roles/svc_httpd/files/(.*).yaml"
      - id: check-json
      - id: check-added-large-files
  - repo: local
    hooks:
      - id: ansible-lint
        name: ansible-lint
        entry: bash -c 'poetry run ansible-lint "$@"' --
        language: system
        types: [yaml]
        pass_filenames: true
        args: ["--force-color"]
