## traefik.yml

entryPoints:
  web:
    address: :80
  websecure:
    address: :443
certificatesResolvers:
  cloudflare:
    acme:
      email: letsencrypt@deerhide.run
      storage: acme.json
      dnsChallenge:
        provider: cloudflare
        delayBeforeCheck: 0

# Docker configuration backend
providers:
  docker: {}

# API and dashboard configuration
api:
  insecure: true
