#!/bin/bash

# Slack Webhook
WEBHOOK_URL="{{ slack_webhook_url }}"

# Extract Subject line
SUBJECT=$(grep -m1 "^Subject:" "$1")

# Extract mail body (after the first empty line)
BODY=$(awk 'f{print} /^$/{f=1}' "$1")

# Compose message
if [[ -n "$SUBJECT" || -n "$BODY" ]]; then
    MESSAGE="${SUBJECT}\n${BODY}"
    # Remove leading/trailing whitespace
    MESSAGE=$(echo -e "$MESSAGE" | sed '/^[[:space:]]*$/d')
    # Send to Slack
    curl -X POST -H 'Content-type: application/json' --data "{\"text\":\"${MESSAGE}\"}" "$WEBHOOK_URL"
else
    # No mail or no updates, send notification
    curl -X POST -H 'Content-type: application/json' --data '{"text":"No update was necessary or no mail was sent."}' "$WEBHOOK_URL"
fi
