#!/bin/bash

if [ -z "$1" ]; then
    TMPFILE=$(mktemp)
    cat > "$TMPFILE"
    INPUT="$TMPFILE"
else
    INPUT="$1"
fi

# Slack Webhook
WEBHOOK_URL="{{ slack_webhook_url }}"

send_to_slack() {
    local message="$1"
    local message_length=${message}
    # Check message length (Slack max char limit)
    if [ "$message_length" -gt 35000 ]; then
       message=$(printf "%s\n\n... (message truncated due to length)" "${message:0:35000}")
    fi
    curl -X POST -H 'Content-type: application/json' --data '{"text":"'"${message}"'"}' "$WEBHOOK_URL"
}

# Check if file exists and is readable
if [ ! -f "$INPUT" ] || [ ! -r "$INPUT" ]; then
    ERROR_MSG=":large_red_square: *Error:* File $INPUT does not exist or is not readable"
    send_to_slack "$ERROR_MSG"
    [ -n "$TMPFILE" ] && rm -f "$TMPFILE"
    exit 1
fi

# Subject line
LAST_SUBJECT_LINE=$(grep -n "Subject:" "$INPUT" | tail -1 | cut -d: -f1)

if [ -z "$LAST_SUBJECT_LINE" ]; then
    ERROR_MSG=":large_red_square: *Error:* No Subject line found in $INPUT"
    send_to_slack "$ERROR_MSG"
    [ -n "$TMPFILE" ] && rm -f "$TMPFILE"
    exit 1
fi
SUBJECT=$(sed -n "${LAST_SUBJECT_LINE}p" "$INPUT" | sed -E 's/^Subject:[[:space:]]*//')

# Get content start
CONTENT_START=$(grep -n "^Unattended upgrade" "$INPUT" | tail -1 | cut -d: -f1)
if [ -z "$CONTENT_START" ]; then
    ERROR_MSG=":large_red_square: *Error:* No 'Unattended upgrade' line found in $INPUT"
    send_to_slack "$ERROR_MSG"
    [ -n "$TMPFILE" ] && rm -f "$TMPFILE"
    exit 1
fi

# Get content end (line before "Unattended-upgrades log:")
CONTENT_END=$(grep -n "^Unattended-upgrades log:" "$INPUT" | tail -1 | cut -d: -f1)
if [ -z "$CONTENT_END" ]; then
    ERROR_MSG=":large_red_square: *Error:* No 'Unattended-upgrades log:' line found in $INPUT"
    send_to_slack "$ERROR_MSG"
    [ -n "$TMPFILE" ] && rm -f "$TMPFILE"
    exit 1
fi

CONTENT_END=$((CONTENT_END - 1))

# Get the content
EMAIL_CONTENT=$(sed -n "${CONTENT_START},${CONTENT_END}p" "$INPUT")

# Compose message
MESSAGE="*Subject:* ${SUBJECT}\n\n*Content:*\n${EMAIL_CONTENT}"

send_to_slack "$MESSAGE"

# Nettoyage du fichier temporaire si besoin
[ -n "$TMPFILE" ] && rm -f "$TMPFILE"
