---
# code: language=ansible
# Path: ansible/roles/svc_minio/tasks/requirements.yml
# Install the requirements for the svc_minio role

- name: Check if pip is available for python3.9
  ansible.builtin.command:
    cmd: "{{ python_executable_path }} -m pip --version"
  register: svc_minio_pip_check
  ignore_errors: true
  changed_when: false

- name: Install pip if missing (via ensurepip)
  ansible.builtin.command:
    cmd: "{{ python_executable_path }} -m ensurepip"
  when: svc_minio_pip_check.rc != 0
  become: true
  changed_when: false

- name: Check again if pip is available
  ansible.builtin.command:
    cmd: "{{ python_executable_path }} -m pip --version"
  register: svc_minio_pip_check2
  ignore_errors: true
  changed_when: false

- name: Fail if pip is not available
  ansible.builtin.fail:
    msg: "pip is not available for {{ python_executable_path }}. Please install it manually."
  when: svc_minio_pip_check2.rc != 0
  changed_when: false

- name: Install requests module for python3.9
  ansible.builtin.command:
    cmd: "{{ python_executable_path }} -m pip install requests"
  become: true
  args:
    creates: "{{ python_executable_path }}/site-packages/requests"
