---
# code: language=ansible
# Path: ansible/roles/svc_minio/tasks/setup_minio_alias.yml
# This file contains the tasks to create deerhide-operator alias for Minio

- name: Check and create alias if needed
  block:
    - name: Check if MinIO alias exists for {{ ansible_hostname }}
      ansible.builtin.command:
        cmd: /usr/local/bin/mc alias list
      become: true
      become_user: deerhide-operator
      changed_when: false
      register: svc_minio_alias_list

    - name: Create MinIO alias if missing for {{ ansible_hostname }}
      ansible.builtin.command:
        cmd: >
          /usr/local/bin/mc alias set {{ ansible_hostname }}
          https://{{ minio_host }}
          {{ deerhide_minio_root_user }}
          {{ deerhide_minio_root_password }}
      become: true
      become_user: deerhide-operator
      changed_when: true
      when: ansible_hostname not in svc_minio_alias_list.stdout
