
issuer: {{ dex_issuer }}

web:
  http: 0.0.0.0:5556

storage:
  type: sqlite3
  config:
    path: /data/dex.db

telemetry:
  http: {{ dex_telemetry_http }}

expiry:
  deviceRequest: {{ dex_expiry_devicerequest }}
  signingKeys: {{ dex_expiry_signingkeys }}
  idTokens: {{ dex_expiry_idtokens }}
  refreshTokens:
    reuseInterval: {{ dex_expiry_refreshtokens_reuseinterval }}
    validIfNotUsedFor: {{ dex_expiry_refreshtokens_validifnotusedfor }}
    absoluteLifetime: {{ dex_expiry_refreshtokens_absolutelifetime }}

logger:
  level: {{ dex_logger_level }}
  format: {{ dex_logger_format }}

staticClients:
{% for client in dex_clients %}
  - id: {{ client.id }}
    redirectURIs:
{% for redirectURI in client.redirectURIs %}
      - {{ redirectURI }}
{% endfor %}
    name: {{ client.name }}
    secret: {{ client.secret }}
{% endfor %}

connectors:
  - type: github
    id: github
    name: GitHub / Deerhide
    config:
      clientID: {{ dex_github_client_id }}
      clientSecret: {{ dex_github_client_secret }}
      redirectURI: https://{{ dex_host }}/dex/callback
      orgs:
        - name: DeerHide
          teams:
            - Maintainers
    loadAllGroups: false
    teamNameField: slug
    preferredEmailDomain: "deerhide.run"

enablePasswordDB: false
